*{
    margin: 0;
    padding: 0;
}

body{
    background:url(PHOTO.jpg) no-repeat ;
    background-size: cover;      
}

       

label{
    padding: 10px;
    background-color: #bbd1fa;
    border-radius: 15px;
    float: left;
}
.form{    
    background-color: #4c81e280;
    margin: auto;
    width: 50%;
    margin-top: 111px;
    padding: 10px;
    border: solid#496fec;
    border-radius: 15px;
}
.rectangle{
    background-color: #bbd1fa;
    padding: 12px;
    margin: 6px;
    width: 20%;
    color: #020202;
    border:solid #496fec;
    border-radius: 5px;
    margin-left:55%;
    display: flex;
}
.sub{
    width: 20%;
    padding: 10px;
    background-color: #bbd1fa;
    border-radius: 15px;
    margin-left: 55%;
    text-align: center;
}  
    
