
.logo{ 
  width: 8%;
  padding: 22;
}
li{
  display: inline;
         
}
li a{            
  text-decoration:none;
  
  padding: 11px;   
  margin-bottom: 23px;
}
 a:hover {
  text-decoration: underline;
}    
ul.breadcrumb li+li:before {
color: black;
text-align: center;
padding: 11px;    
content: "/";    
}
h1{
  margin-left: 33px;
}
p{
  margin-left: 33px;
}
.title{
  margin-left: 10px;
}
.products-item{
  display: flex; 
  margin: 11px;  
}

.card-{  

border:5px solid gray;
width:23%;
height: 30%;
margin: auto;
}

img.item-img{ 
  width:  78%;  
  margin: 21px;
}



</style>